<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="WebFormsTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="login" />
				<include name="basicFunctionality" />
				<include name="formBlockDesign" />
				<include name="formFlow" />
				<include name="export" />
				<include name="impactAnalysis" />
				<include name="xForms" />
				<include name="validation" />
				<include name="linkedBlocks" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.webforms.gui.tests.LoginTests" />
			<class name="com.biit.webforms.gui.tests.BasicFuncionalityTests" />
			<class name="com.biit.webforms.gui.tests.FormBlockDesignTests" />
			<class name="com.biit.webforms.gui.tests.FormFlowTests" />
			<class name="com.biit.webforms.gui.tests.ExportTests" />
			<class name="com.biit.webforms.gui.tests.ImpactAnalysisTests" />
			<class name="com.biit.webforms.gui.tests.XFormsTests" />
			<class name="com.biit.webforms.gui.tests.ValidationTests" />
			<class name="com.biit.webforms.gui.tests.LinkBlockTests" />
		</classes>
	</test>
</suite>