<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="WebFormsTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<exclude name="login" />
				<exclude name="basicFunctionality" />
				<exclude name="formBlockDesign" />
				<include name="formFlow" />
				<exclude name="export" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.webforms.gui.test.LoginTests" />
			<class name="com.biit.webforms.gui.test.BasicFuncionalityTests" />
			<class name="com.biit.webforms.gui.test.FormBlockDesignTests" />
			<class name="com.biit.webforms.gui.test.FormFlowTests" />
			<class name="com.biit.webforms.gui.test.ExportTests" />
		</classes>
	</test>
</suite>