<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="AbcdTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<exclude name="testDomain" />
 			 	<exclude name="testFlowDomain" />
 			 	<exclude name="testFlowDomainRedundant" />
 			 	<exclude name="testFlowDomainBlockedPreviousQuestion" /> <!-- no longer used -->
				<exclude name="booleanExpressions" />
				<exclude name="linkValidation" />
				<exclude name="missingFlowIn" />
				<exclude name="orphanToken" />
				<exclude name="xforms" />
				<exclude name="xmlGeneration" />
				<exclude name="flowCleaner" />
				<exclude name="jsonForms" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.webforms.utils.math.domain.range.TestDomain" />
			<class name="com.biit.webforms.utils.math.domain.TestFlowDomain" />
			<class name="com.biit.webforms.utils.math.domain.TestFlowDomainRedundant" />
			<class name="com.biit.webforms.utils.math.domain.TestFlowDomainBlockedPreviousQuestion" />
			<class name="com.biit.webforms.xforms.expressions.BooleanExpressionTest" />
			<class name="com.biit.webforms.xforms.XFormExporterTests" />
			<class name="com.biit.webforms.validators.LinkValidationTests" />
			<class name="com.biit.webforms.validators.MissingFlowInTest" />
			<class name="com.biit.webforms.validators.OrphanToken" />
			<class name="com.biit.webforms.utils.exporters.xml.XmlGenerationTest" />
			<class name="com.biit.webforms.flow.FlowCleanerTest" />
			<class name="com.biit.webforms.json.JsonExporterTests" />
		</classes>
	</test>
</suite>

