.settings
.project
.classpath
gen
target
bin
project.properties
output.log
gwt-unitCache/
widgetsets/
tmp
*.zip
styles.css
/webforms-gui/*.pdf
/webforms-integration-test/src/main/webapp
pom.xml.releaseBackup
release.properties
/webforms-release/database/updates/

burgerservicenumber2.json
burgerservicenumber.json

*.iml
.idea/
