<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="AbcdTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="testDomain" />
 			 	<include name="testFlowDomain" />
				<include name="booleanExpressions" />
				<include name="linkValidation" />
				<include name="missingFlowIn" />
				<include name="orphanToken" />
				<include name="xforms" />
				<include name="xmlGeneration" />
				<include name="flowCleaner" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.webforms.utils.math.domain.range.TestDomain" />
			<class name="com.biit.webforms.utils.math.domain.TestFlowDomain" />
			<class name="com.biit.webforms.xforms.expressions.BooleanExpressionTest" />
			<class name="com.biit.webforms.xforms.XFormExporterTests" />
			<class name="com.biit.webforms.validators.LinkValidationTests" />
			<class name="com.biit.webforms.validators.MissingFlowInTest" />
			<class name="com.biit.webforms.validators.OrphanToken" />
			<class name="com.biit.webforms.utils.exporters.xml.XmlGenerationTest" />
			<class name="com.biit.webforms.flow.FlowCleanerTest" />
		</classes>
	</test>
</suite>

