<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="AbcdTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="testDomain" />
			 	<!-- <include name="testFlowDomain" />
				<include name="booleanExpressions" />
				<include name="linkValidation" />
				<include name="xforms" /> -->
			</run>
		</groups>
		<classes>
			<class name="com.biit.webforms.utils.math.domain.range.TestDomain" />
			<class name="com.biit.webforms.utils.math.domain.TestFlowDomain" />
			<class name="com.biit.webforms.xforms.expressions.BooleanExpressionTest" />
			<class name="com.biit.webforms.xforms.expressions.XFormExporter" />
			<class name="com.biit.webforms.validators.LinkValidationTests" />
		</classes>
	</test>
</suite>

