<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsGui">
	<test name="WebformsTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="lexer" />
				<include name="parser" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.webforms.utils.lexer.TestLexer" />
			<class name="com.biit.webforms.utils.parser.TestParser" />
		</classes>
	</test>
</suite>

