<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>WebForms Designer</display-name>

	<context-param>
		<description>WebForms Designer</description>
		<param-name>heartbeatInterval</param-name>
		<!-- 20 minutes that means full expiration time is 60 minutes -->
		<param-value>60</param-value>
	</context-param>

	<context-param>
		<description>WebForms Designer</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>

	<!-- Using Vaadin GUI -->
	<servlet>
		<servlet-name>Vaadin Application Servlet</servlet-name>
		<servlet-class>com.biit.webforms.gui.BiitVaadinServlet</servlet-class>
		<init-param>
			<description>Starting web page</description>
			<param-name>UI</param-name>
			<param-value>com.biit.webforms.gui.ApplicationUi</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.biit.webforms.gui.AppWidgetSet</param-value>
		</init-param>
		<init-param>
			<param-name>closeIdleSessions</param-name>
			<param-value>true</param-value>
		</init-param>

		<!-- Enable server push -->
		<init-param>
			<param-name>pushmode</param-name>
			<param-value>automatic</param-value>
		</init-param>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>Vaadin Application Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<mime-mapping>
		<extension>manifest</extension>
		<mime-type>text/cache-manifest</mime-type>
	</mime-mapping>

	<!-- Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- binds a JPA EntityManager to the thread for the entire processing of the request -->
	<filter>
		<filter-name>OpenEntityManagerInViewFilterWebforms</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
		<init-param>
			<param-name>entityManagerFactoryBeanName</param-name>
			<param-value>webformsManagerFactory</param-value>
		</init-param>
	</filter>
	<!-- Map the EntityManager Filter to all Request -->
	<filter-mapping>
		<filter-name>OpenEntityManagerInViewFilterWebforms</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Apache Tomcat session expire -->
	<session-config>
		<session-timeout>61</session-timeout>
	</session-config>

	<!-- Uncomment following filter if you want fast deployment in jetty -->
	<!-- <filter> <filter-name>GzipFilter</filter-name> <filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class> 
		<init-param> <param-name>mimeTypes</param-name> <param-value>text/html,text/plain,text/xml,application/xhtml+xml,text/css,application/javascript,image/svg+xml</param-value> 
		</init-param> </filter> <filter-mapping> <filter-name>GzipFilter</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->

</web-app>
