/*
   Category			: webforms-element webforms-category
   Group			: webforms-element webforms-group
   RepeatableGroup		: webforms-element webforms-repeatablegroup
   Question			: webforms-element webforms-question (webforms-help)
   Answer			: webforms-element webforms-answer
   Subanswers			: webforms-element subanswer-parent
				  webforms-element subanswer-child
   Horizontal Radio-button	: webforms-element fr-radio-horizontal webforms-answer
   Info-text			: webforms-element webforms-infotext
   Form Image: .Form-image .xforms-output-output
 */

/* Header: off
   -----------
*/
/*
.navbar {
  display: none !important;
}

.fr-form-description {
  display: none !important;
}*/

/* Elements
   --------
 */

.webforms-element, .webforms-element .xforms-label {
  font-family: Arial,Helvetica,sans-serif;
}

/* Element: Info-text
   -----------------
 */

.webforms-element .webforms-infotext > .xforms-label {
  font-style: italic;
  color: #555;
}

/* Element: Question
   -----------------
 */

.webforms-element .webforms-question {
  display: block;
  padding: 5px 0px 5px 0px;
}

/* Question mark */
.webforms-help > .xforms-label {
  display: inline;
  margin-left: 5px;
}

.webforms-help .xforms-input-input {
    display: block !important;
}

.webforms-help > .xforms-help {
  margin-left: 0px;
}


/* Element: Horizontal Radio-button
   --------------------------------
 */

.webforms-element .fr-radio-horizontal > .xforms-label {
  display: block !important;
}

.webforms-element .fr-radio-horizontal .webforms-answer label.radio {
  display: inline;
  float: none;
  position: relative;
}

.webforms-element .fr-radio-horizontal .webforms-answer label.radio input[type="radio"] {
  position: absolute;
}

/* Element: Subanswers
   -------------------
 */

.webforms-element .subanswer-parent > label {
  font-style: italic;
}

.webforms-element .subanswer-parent > label > input {
  display: none;
}

.webforms-element .subanswer-child > label {
  margin-left: 15px;
}

.webforms-element .subanswer-parent > label {
  font-style: italic;
}

.webforms-element .subanswer-parent > label > input {
  display: none;
}

.webforms-element .subanswer-child > label {
  margin-left: 15px;
}

/* Element: Orbeon ERROR style Override
   -------------------
 */

.orbeon .fr-view .xbl-fr-error-summary .fr-error-summary-body {
    background-color: #f5f5f5;
    border: 2px solid #cc3333;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 10px;
    padding: 10;
}


.orbeon .fr-view .xbl-fr-error-summary .fr-level-error .fr-error-title {
    background-color: #f5f5f5;
    color: #cc3333;
}

.orbeon .fr-view .xbl-fr-error-summary .fr-error-title {
    padding: 5px 10px;
}

.orbeon .xbl-fr-error-summary .fr-error-title {
    box-sizing: border-box;
    margin: 0;
    width: auto;
}

.orbeon legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #e5e5e5;
    border-image: none;
    border-width: 0 0 1px;
    border-style: none;
}

.orbeon .fr-view .xbl-fr-error-summary table {
    margin: 2px 2px 15px;
}

/* Images */
.Form-image .xforms-output-output {
    text-align: center;
    position: absolute;
    right: 10px;
    top: 40px;
    width: 350px;
}

/* Hide form image if screen is small */
@media screen and (max-width: 1800px) {
    .Form-image {
        display: none !important;
    }
}

.Category-image .xforms-output-output {
    text-align: center;
	display: block;
    max-width: 80% !important;
	margin-left: auto;
    margin-right: auto;
}

.Question-image .xforms-output-output {
    text-align: center;
	display: block;
    max-width: 50% !important;margin-left: auto;
    margin-right: auto;
}

