<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="WebformsPersistanceTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="formDao" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.webforms.persistence.FormTest" />
		</classes>
	</test>
</suite>

