/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme. */

$buttonColor: #00a3e8;
$blueShadowColor: #52A5C5;

@mixin animation($animations) {
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(horizontal-collapse) {
  	0%   {background-color:red;}
	25%  {background-color:yellow;}
	50%  {background-color:blue;}
	75%  {background-color:green;}
	100% {background-color:red;}
}

@font-face {
	font-family: "TkIcons";
	/* woff by default (smallest size), android needs a fallback as otf  */
	src: fontAwesome format("woff"), fontAwesomeOtf format("opentype");
	font-weight: normal;
	font-style: normal;
}

$open-sans-pathPrefix: "./fonts/";

@font-face {
	font-family: 'Open Sans';
	src: url('#{$open-sans-pathPrefix}OpenSans-Regular-webfont.eot');
	src: url('#{$open-sans-pathPrefix}OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('#{$open-sans-pathPrefix}OpenSans-Regular-webfont.woff') format('woff'),
	     url('#{$open-sans-pathPrefix}OpenSans-Regular-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('#{$open-sans-pathPrefix}OpenSans-Italic-webfont.eot');
	src: url('#{$open-sans-pathPrefix}OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('#{$open-sans-pathPrefix}OpenSans-Italic-webfont.woff') format('woff'),
	     url('#{$open-sans-pathPrefix}OpenSans-Italic-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('#{$open-sans-pathPrefix}OpenSans-Light-webfont.eot');
    src: url('#{$open-sans-pathPrefix}OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$open-sans-pathPrefix}OpenSans-Light-webfont.woff') format('woff'),
         url('#{$open-sans-pathPrefix}OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
	font-family: 'Open Sans';
	src: url('#{$open-sans-pathPrefix}OpenSans-LightItalic-webfont.eot');
	src: url('#{$open-sans-pathPrefix}OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('#{$open-sans-pathPrefix}OpenSans-LightItalic-webfont.woff') format('woff'),
	     url('#{$open-sans-pathPrefix}OpenSans-LightItalic-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('#{$open-sans-pathPrefix}OpenSans-Semibold-webfont.eot');
    src: url('#{$open-sans-pathPrefix}OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$open-sans-pathPrefix}OpenSans-Semibold-webfont.woff') format('woff'),
         url('#{$open-sans-pathPrefix}OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('#{$open-sans-pathPrefix}OpenSans-SemiboldItalic-webfont.eot');
    src: url('#{$open-sans-pathPrefix}OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$open-sans-pathPrefix}OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('#{$open-sans-pathPrefix}OpenSans-SemiboldItalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('#{$open-sans-pathPrefix}OpenSans-Bold-webfont.eot');
    src: url('#{$open-sans-pathPrefix}OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$open-sans-pathPrefix}OpenSans-Bold-webfont.woff') format('woff'),
         url('#{$open-sans-pathPrefix}OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('#{$open-sans-pathPrefix}OpenSans-BoldItalic-webfont.eot');
	src: url('#{$open-sans-pathPrefix}OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('#{$open-sans-pathPrefix}OpenSans-BoldItalic-webfont.woff') format('woff'),
	     url('#{$open-sans-pathPrefix}OpenSans-BoldItalic-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('#{$open-sans-pathPrefix}OpenSans-Bold-webfont.eot');
    src: url('#{$open-sans-pathPrefix}OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$open-sans-pathPrefix}OpenSans-Bold-webfont.woff') format('woff'),
         url('#{$open-sans-pathPrefix}OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('#{$open-sans-pathPrefix}OpenSans-BoldItalic-webfont.eot');
	src: url('#{$open-sans-pathPrefix}OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('#{$open-sans-pathPrefix}OpenSans-BoldItalic-webfont.woff') format('woff'),
	     url('#{$open-sans-pathPrefix}OpenSans-BoldItalic-webfont.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('#{$open-sans-pathPrefix}OpenSans-ExtraBold-webfont.eot');
    src: url('#{$open-sans-pathPrefix}OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$open-sans-pathPrefix}OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('#{$open-sans-pathPrefix}OpenSans-ExtraBold-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
@font-face {
	font-family: 'Open Sans';
	src: url('#{$open-sans-pathPrefix}OpenSans-ExtraBoldItalic-webfont.eot');
	src: url('#{$open-sans-pathPrefix}OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('#{$open-sans-pathPrefix}OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
	     url('#{$open-sans-pathPrefix}OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

/* If somebody wants to extend the theme she will include this mixin. */
@mixin webforms {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  
  	/* Fix for diagram building style until further notice */
  	.v-Notification h1 {
	  	position: static;
		z-index: inherit;
		top: 0;
		left: 0;
		margin: inherit;
		padding: inherit;
  	}
  	
  	.v-Notification h1, .v-Notification p, .v-Notification-error h1, .v-Notification-error p, .v-Notification-warning h1, .v-Notification-warning p {
		display: block;
		margin: 0 0.5em 0 0;
	}
  	
  	.v-Notification-warning {
		background: #fdf3b5;
		border: 3px solid #fee3af;
	}
	
	.v-Notification.v-Notification-error h1 {
	  	color: #FFFFFF !important;
	  	font-size: 24px;
  	}
  	.v-Notification.v-Notification-error p {
	  	color: #FFFFFF !important;
	  	font-size: 14px;
	  	padding-top: 14px;
  	}
	.v-Notification.v-Notification-warning h1 {
	  	color: #ca9a61 !important;
	  	font-size: 24px;
  	}
  	.v-Notification.v-Notification-warning p {
	  	color: #ca9a61 !important;
	  	font-size: 14px;
	  	padding-top: 14px;
  	}
  	.v-Notification h1 {
	  	color: #FFFFFF !important;
	  	font-size: 24px;
  	}
  	.v-Notification p {
	  	color: #FFFFFF !important;
	  	font-size: 14px;
	  	padding-top: 14px;
  	}
  	
  	/* Normal button */
  	.v-button-wrap img.v-icon {
		width: 20px;
		height: 20px;
	}	
  
  	.v-horizontal-button-group {
		background-color: white;
	}
	
	.v-horizontal-button-group .v-disabled.v-button .v-button-wrap{
		height: initial;
	}
  
  	.v-horizontal-button-group .v-button-wrap {
		height: initial;
	}
  	.v-horizontal-button-group .v-icon {
		margin-left: auto;
		margin-right: auto;
		height: 50px !important;
		width: 50px !important;
		display: block;
	}
	
	.v-horizontal-button-group-wrapper {
		overflow-x: auto;
		overflow-y: hidden;
	}
	
	.upper-menu.v-horizontal-button-group .v-icon, .v-popover-upper-submenu.v-button-v-popover-upper-submenu img.v-icon {
		width: 32px !important;
		height: 32px !important;
	}
	
	.v-popover-upper-submenu.v-button-v-popover-upper-submenu img.v-icon {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	.upper-menu.v-horizontal-button-group .v-button-caption, .v-popover-upper-submenu.v-button-v-popover-upper-submenu .v-button-caption{
		font-size: 14px;
	}
	
	.v-button-iconbutton-size-small .v-icon {
		width: 16px;
		height: 16px;
	}
	
	.v-button-iconbutton-size-medium .v-icon {
		width: 32px;
		height: 32px;
	}
	
	.v-button-iconbutton-size-big .v-icon {
		width: 64px;
		height: 64px;
	}
	
	.v-horizontal-button-group .v-button:active, .v-horizontal-button-group .v-button:focus{
		box-shadow: inset 0px 0px 8px 1px $blueShadowColor;
	}

	.v-button:focus {
		background-image: none;
		outline: none;
		box-shadow: 0px 0px 3px 2px $blueShadowColor;
	}
	
	.v-button:focus .v-button-wrap {
		background-image: none;
		outline: none;
	}
	
	.v-button:active, .v-button.v-pressed {
		background-image: none;
		outline: none;
		background-image: none;
		background-color: rgba(247, 247, 247, 1);
		box-shadow: 0px 0px 3px 2px $blueShadowColor;
	}
	
	.v-button:active .v-button-wrap, .v-button.v-pressed .v-button-wrap {
		background-image: none;
		outline: none;
	}
	
	.v-button, .v-disabled.v-button {
		height: 32px;
		/*padding: 0 0 0 6px;*/
		padding: 0 0 0 0px;
		background-image: none;
		background-repeat: no-repeat;
		background-color: rgba(255, 255, 255, 1);
		cursor: default;
		color: $buttonColor;
		border: rgb(212, 201, 191);
		border-width: 1px;
		border-style: solid;
		box-shadow: 0px 2px 2px -1px #777777;
	}
	
	.v-button.v-button-link{
		border-width: 0px;
	}
	
	.v-button-wrap, .v-button-caption {
		vertical-align: middle;
		white-space: normal;
		font: inherit;
		color: inherit;
		line-height: 0;
	}
	
	.v-disabled.v-button {
		box-shadow: 0px 2px 2px -1px #777777 !important;
	}
	
	.v-button-wrap, .v-disabled.v-button .v-button-wrap {
		height: 26px;
		padding: 5px 9px 0 9px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: right top;
		background-image: none;
		color: #00a3e8;
	}
	
	.v-button-caption {
		color: #1C86C2;
		text-shadow: #fff 0 1px 0;
		font-weight: 600;
		font-size: 16px;
		line-height: 16px;
	}
	
	/* Table tree colours */
	.v-table-row:not(.v-selected) .v-table-cell-content-tree-cell-form, .v-table-row-odd:not(.v-selected) .v-table-cell-content-tree-cell-form {
	}
	.v-table-row:not(.v-selected) .v-table-cell-content-tree-cell-category, .v-table-row-odd:not(.v-selected) .v-table-cell-content-tree-cell-category {
		color: rgb(111, 79, 69);
	}
	.v-table-row:not(.v-selected) .v-table-cell-content-tree-cell-group, .v-table-row-odd:not(.v-selected) .v-table-cell-content-tree-cell-group {
		color:  rgb(91, 134, 57);
	}
	.v-table-row:not(.v-selected) .v-table-cell-content-tree-cell-question, .v-table-row-odd:not(.v-selected) .v-table-cell-content-tree-cell-question {
		color: rgb(90, 112, 151);
	}
	.v-table-row:not(.v-selected) .v-table-cell-content-tree-cell-system-field, .v-table-row-odd:not(.v-selected) .v-table-cell-content-tree-cell-system-field {
		color: rgb(207, 83, 0);
	}
	.v-table-row:not(.v-selected) .v-table-cell-content-tree-cell-attached-file, .v-table-row-odd:not(.v-selected) .v-table-cell-content-tree-cell-attached-file {
		color: rgb(100, 70, 70);
	}
	.v-table-row:not(.v-selected) .v-table-cell-content-tree-cell-info-text, .v-table-row-odd:not(.v-selected) .v-table-cell-content-tree-cell-info-text {
		color: rgb(130, 130, 130);
	}
	.v-table-row:not(.v-selected) .v-table-cell-content-tree-cell-answer, .v-table-row-odd:not(.v-selected) .v-table-cell-content-tree-cell-answer {
		color: rgb(165, 107, 124);
	}
	/* Element filter */
	.filtered.v-table-row.v-selected, .filtered.v-table-row-odd.v-selected {
		background: #95A8BD;
	}
	
	&.v-app,
	.v-caption,
	.v-window,
	.v-popupview-popup,
	.v-tooltip,
	&.v-app input,
	&.v-app select,
	&.v-app button,
	&.v-app textarea,
	.v-widget,
	.v-window input,
	.v-window select,
	.v-window button,
	.v-window textarea,
	.v-popupview-popup input,
	.v-popupview-popup select,
	.v-popupview-popup button,
	.v-popupview-popup textarea,
	.v-filterselect-suggestpopup,
	.v-datefield-popup,
	.v-contextmenu,
	.v-Notification,
	.v-menubar-submenu,
	.v-drag-element,
	.v-table-header-drag,
	.v-table-table {
	    font-family: "Open Sans" !important;
	    font-size: 14px !important;
	}
	
	.v-table-row, .v-table-row-odd {
		background: #fff;
		border: 0;
		margin: 0;
		padding: 0;
		cursor: pointer;
		color: #464646;
	}		
	
	.v-table-row-odd {
		background: #eff0f1;
	}	
	
	.v-table .v-selected, .black .v-table .v-selected {
		background: #6C94C0;
		color: #fff;
		text-shadow: #3b5a7a 0 1px 0;
	}
	
	.v-table-header-cell-desc .v-table-sort-indicator {
		opacity: 0.7;
		width: 16px;
		height: 16px;
		background: url(element.move.down.svg);
		background-size: contain;
		display: block;
	}
	
	.v-table-header-cell-asc .v-table-sort-indicator {
		opacity: 0.7;
		width: 16px;
		height: 16px;
		background: url(element.move.up.svg);
		background-size: contain;
		display: block;
	}	
	
	.v-table-caption-container, .v-table-header-drag {
		padding-top: 6px;
		padding-right: 4px;
	}
	
	.v-table-header, .v-table-footer, .v-table-footer table {
		height: 32px;
	}
	
	.v-table-header-wrap, .white .v-table-header-wrap, .v-table-footer-wrap, .white .v-table-footer-wrap, .v-table-header-drag {
		border-color: #c2c3c4;
		background: transparent repeat-x;
		background-image: linear-gradient(to bottom, #fefefe 0%, #e2e2e2 51%, #d3d3d3 80%);
		height: 32px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		color: #464646;
		text-shadow: #f3f5f8 0 1px 0;
		line-height: normal;
	}
	
	.v-table-cell-content-cursor-cell {
		box-shadow: inset 0px 0px 5px #000000;
	}
	
	//Scrollable hack
	#main-table .v-scrollable {
		overflow-y: hidden !important;
	}
	
	.v-table-cell-content-rowheader {
		border-color: #c2c3c4;
		background: transparent repeat-x;
		background-image: linear-gradient(to bottom, #fefefe 0%, #e2e2e2 51%, #d3d3d3 80%);
	}
	
	.v-table .v-selected, .black .v-table .v-selected {
		background: #4d749f url(../reindeer/common/img/sel-bg.png) repeat-x;
		color: #fff;
		text-shadow: #3b5a7a 0 1px 0;
	}
	
	.v-table-resizer {
		height: 32px;
		width: 2px;
		background: transparent;
		border-right: 1px solid #c2c3c4;
	}
	
	/* Property container */
	
	.v-customcomponent.v-properties-container {
		border: #c2c3c4;
		border-style: solid;
		border-width: 1px;
	}
	
	.v-tab-bar {
		border-color: #c2c3c4;
		border-style: solid;
		border-width: 0px;
		border-bottom-width: 1px;
		background: transparent repeat-x;
		background-image: linear-gradient(to bottom, #fefefe 0%, #e2e2e2 51%, #d3d3d3 80%);
		text-transform: uppercase;
		width: 100%
	}
	
	.v-accordion-multiple-tab {
		border-color: #c2c3c4;
		border-style: solid;
		border-width: 0px;
		border-bottom-width: 1px;
		width: 100%;
	}
	
	.v-accordion-multiple-tab > .v-verticallayout {
		overflow-x: auto;
		width: 100%;
	}
	
	.v-accordion-multiple-tab .v-label {
		font-size: 14px !important;
		font-weight: 600;
		color: #464646;
		padding: 6px 0px 0px 0px;
	}
	
	.v-accordion-multiple-tab .v-image {
		margin: 10px 5px 0px 5px;
		opacity: 0.72;
	}
	
	.v-properties-container {
		overflow: auto;
	}
	
	.v-treetable-node-closed {
		opacity: 0.7;
		height: 11px;
		margin: 2px 0px 0px 0px;
		background: url(element.expand.svg) right top no-repeat;
		background-size: contain;
		display: block;
		left: -2px;
	}
	
	.v-treetable-node-open {
		opacity: 0.7;
		height: 11px;
		margin: 2px 0px 0px 0px;
		background: url(element.collapse.svg) right top no-repeat;
		background-size: contain;
		display: block;
		left: -2px;
	}
	
	.v-caption.v-disabled {
		opacity: 1.0;
		cursor: default;
	}
	
	.v-textfield.v-disabled {
		opacity: 1.0;
		cursor: default;
		background-color: #f5f5f5;
	}
	
	/* Normal opacity when disabling a formlayout */
	.v-layout.v-formlayout.v-disabled.v-widget{
		opacity: 1.0;
	}
	
	/* When disabled text area needs the back-color of disabled */
	.v-textarea.v-disabled {
		background-color: #f5f5f5;
	}
	
	/* combobox enabled */
	.v-filterselect-input, .v-window .v-filterselect-input, .v-popupview-popup .v-filterselect-input {
		background-image: url(./transparent_center.png) !important;
		background-color: white !important;
	}
	/* combobox disabled*/
	.v-disabled .v-filterselect-input {
		background-color: #f5f5f5 !important;
	}
	
	/* Collapsible menu */
	.v-horizontal-collapsible-panel-opened{
		border-color: #c2c3c4;
		border-style: solid;
		border-width: 1px;
	}
	
	.v-horizontal-collapsible-panel-closed{
	}
	
	div.v-csslayout {
		display: flex;
		padding: 17px;
	}
	
	.v-horizontal-collapsible-panel-button-layout.v-verticallayout-v-horizontal-collapsible-panel-button-layout {
		padding: 10px 10px 0px 2px;
	}
	
	div#stencil-caption {
		border-color: #c2c3c4;
		background: transparent repeat-x;
		background-image: linear-gradient(to bottom, #fefefe 0%, #e2e2e2 51%, #d3d3d3 80%);
		height: 32px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		color: #464646;
		text-shadow: #f3f5f8 0 1px 0;
		line-height: normal;
		text-align: center;
		padding-top: 5px;
	}
	
	.stencil {
		top: 32px;
	}
	
	.stencil-container {
		border-color: #c2c3c4;
		border-style: solid;
		border-width: 1px;
		border-right-width: 0px;
		bottom: 0px;
	}
	
	.paper-container {
		left: 151px;
		border-color: #c2c3c4;
		border-style: solid;
		border-width: 1px;
		bottom: 0px;
	}
	
	/* Question-table */
	.v-table-row-cell-disabled {
		color: rgba(0, 0, 0, 0.21) !important;
	}
	
	.v-edit-cell-component.v-customcomponent-v-edit-cell-component .v-csslayout {
		padding: 0px;
	}
	
	/* Cell/Row selector */
	.v-table-cell-content-selected {
		background: #6C94C0;
		color: #fff;
		text-shadow: #3b5a7a 0 1px 0;
	}

	/* Formula editor*/
	.v-formula-layout {
		background-color: #f1f2f3;
		border: #B4B4B4;
		border-style: solid;
		border-width: 2px;
	}
	
	.v-formula-port .v-formula-port-layout {
		border: black;
		border-style: dashed;
		border-width: 1px;
	}
	
	.v-formula-port.v-selected .v-formula-port-layout {
		background-color: #FEFEEE;
	}
	
	.v-formula-port-layout, .v-formulaExpressionComponent-layout {
		padding: 0px 0px 0px 0px !important;
	}
	
	div.v-csslayout.v-formulaExpressionComponentRoot-layout {
		padding: 0px 0px 0px 0px;
		display: block;
	}
	
	div.v-csslayout.v-second-line {
		margin-top: 8px;
	}

	/* tabsheet */
	.v-tabsheet-tabitem .v-caption.v-disabled {
		opacity: 0.5;
	}

	.v-expression-viewer {
		border: #c2c3c4;
		border-style: solid;
		border-width: 1px;
		overflow-x: auto;
	}
	
	.v-button.expression{
		border-width: 1px;
		box-shadow: 0px 0px 0px 0px #fff;
	}
	
	.v-button.expression-selected{
		background-color: White;
	}
	
	.v-button.expression-unselected{
		background-color: #ededed;
	}

	.v-button-IconOnlyButton img.v-icon {
		height: 20px;
		width: 20px;
	}
	
	.v-label.expression-valid{
		background-color:#77b55a;
		border-top-left-radius:0px;
		border-top-right-radius:0px;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
		border:2px solid #4b8f29;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-weight:bold;
		padding:10px 20px;
		text-decoration:none;
	}

	
	.v-label.expression-invalid{
		background-color:#d0451b;
		border-top-left-radius:0px;
		border-top-right-radius:0px;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
		border:2px solid #942911;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-weight:bold;
		padding:10px 20px;
		text-decoration:none;
	}
	
	.v-tree-designer-icon.v-button-v-tree-designer-icon{
		padding-left: 8px;
	}
	
	.v-csslayout.v-expression-element.v-csslayout-v-expression-element {
		padding: 0px 5px 0px 5px;
		background-color: #ededed;
		border: 1px solid #222;
		border-color: #aaa;
		display:inline-block;
		font-weight:bold;
		color:#1C86C2;
	}
	
	.v-expression-element .v-label.v-widget.v-has-width {
		font-size: 16px !important;
		font-weight: 600 !important;
	}
	
	.v-csslayout.v-expression-element.v-csslayout-v-expression-element.expression-selected {
		background-color: White;
	}
	
	.v-menu-separator.v-csslayout-v-menu-separator {
		padding: 0px;
		background-color: #ddd;
	}
	
	div.v-button.v-widget.v-expression-button-selector.v-button-v-expression-button-selector {
		overflow:hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	.v-csslayout.expression-unselected{
		background-color: #ededed;
	}
	
	.v-form-tree-table-rule-component.v-customcomponent-v-form-tree-table-rule-component > .v-csslayout {
		padding: 0px;
		display: inline-flex;
	}

	/* RichTextArea */
	.richTextArea-noControls .gwt-RichTextToolbar {
		display: none;
	}
	.richTextArea-noControls .gwt-RichTextArea {
		height: 100% !important;
	}
	
	/* SearchButtonField */
	.v-search-button-field.v-customcomponent-v-search-button-field>.v-csslayout.v-layout.v-widget {
		padding: 0px 0px 0px 0px;
	}
	
	/* condition */
	.v-csslayout.v-layout.v-widget.condition-validator.v-csslayout-condition-validator {
		padding: 0px;
		border-color: #c2c3c4;
		border: 1px solid #c2c3c4;
		border-bottom: none;
		background: transparent repeat-x;
		background-image: linear-gradient(to bottom, #fefefe 0%, #e2e2e2 51%, #d3d3d3 80%);
		height: 32px;
		padding-left: 3px;
		padding-top: 2px;
	}
	/* condition button */
	.condition-validator .v-button-wrap {
		padding: 1px 21px 0 6px;
	}
	/* condition label */
	.condition-validator .v-label {
		padding-top: 5px;
		padding-left: 5px;
	}
	
	/* token display */
	.token-display.v-customcomponent-token-display {
		border: #c2c3c4;
		border-width: 1px;
		border-style: solid;
		overflow: auto;
	}
	
	.token-component .v-label.v-widget.v-has-width {
		font-size: 16px !important;
		font-weight: 600 !important;
	}
	
	.token-component-layout.v-csslayout-token-component-layout {
		padding: 0px 5px 0px 5px;
		background-color: #ededed;
		border: 1px solid #222;
		border-color: #aaa;
		display:inline-block;
		font-weight:bold;
		color:#1C86C2;
	}
	
	.v-csslayout-token-component-layout.token-component-focused.v-csslayout-token-component-focused {
		background-color: White !important;
	}
	
	.v-customcomponent-token-component.token-component-disabled.v-customcomponent-token-component-disabled {
		background-color: gray;
		background-image: linear-gradient(45deg, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
		background-size: 20px 20px;
	}
	
	/* Valid and Invalid method */
	.v-label.expression-valid{
		background-color:#77b55a;
		border-top-left-radius:0px;
		border-top-right-radius:0px;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
		border:2px solid #4b8f29;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-weight:bold;
		padding:10px 20px;
		text-decoration:none;
	}

	
	.v-label.expression-invalid{
		background-color:#d0451b;
		border-top-left-radius:0px;
		border-top-right-radius:0px;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
		border:2px solid #942911;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-weight:bold;
		padding:10px 20px;
		text-decoration:none;
	}

	/* Label box */
	.v-label-box {
		border: 1px;
		border-style: solid;
		border-color: #c2c3c4;
		border-radius: 3px 3px;
		overflow: hidden;
	}
	
	/* reduced layout margins */
	.v-reduced-layout-margin.v-vertical.v-margin-left, .v-reduced-layout-margin.v-horizontal.v-margin-left{
		padding-left: 5px !important;
	}
	.v-reduced-layout-margin.v-vertical.v-margin-right, .v-reduced-layout-margin.v-horizontal.v-margin-rigth{
		padding-right: 5px !important;
	}
	.v-reduced-layout-margin.v-vertical.v-margin-top, .v-reduced-layout-margin.v-horizontal.v-margin-top{
		padding-top: 5px !important;
	}
	.v-reduced-layout-margin.v-vertical.v-margin-bottom, .v-reduced-layout-margin.v-horizontal.v-margin-bottom{
		padding-bottom: 5px !important;
	}
	
	/* boxed list */
	.v-boxed-list {
		border: 1px;
		border-style: solid;
		border-color: #c2c3c4;
		overflow: auto;
		padding: 6px;
	}

	/* read only text area */
	textarea.v-textarea.v-widget.v-readonly.v-textarea-readonly {
		border: 1px solid #bcbdbe;
		border-top-color: #a2a3a4;
		border-bottom-color: #d2d3d4;
		background: #fff;
		border-radius: 3px;
		margin: 0;
		height: 23px;
		line-height: normal;
	}
	
	.biit-file-upload{
		padding-bottom: 2px !important;
		padding-left: 2px !important;
		padding-right: 2px !important;
		padding-top: 2px !important;
	}
	
	.window-upload-root-layout{
		overflow-y: auto !important;
		overflow-x: hidden !important;
		border: 2px dashed #a4a4a2;
		border-radius: 10px;
		background-color: #F4F4F4;
	}
	
	.biit-file-upload.v-horizontallayout-biit-file-upload {
		border: rgb(149, 164, 174);
		border-style: solid;
		border-bottom-width: 1px !important;
		border-left-width: 0px;
		border-right-width: 0px;
		border-top-width: 0px;
	}
	
	/* popover */
	.v-touchkit-opacity-transition {
		-webkit-transition: opacity 0.1s linear;
	}
	.v-window-modalitycurtain.v-touchkit-opacity-transition {
		background: rgba(0, 0, 0, 0);
	}
	
	.v-touchkit-popover.v-touchkit-relative .v-window-wrap {
		overflow: visible;
		background: transparent;
		position: relative;
		border: windowBorder;
	}
	
	.v-touchkit-popover.v-touchkit-relative.v-touchkit-smallscreen .v-window-wrap,
	.v-touchkit-popover.v-touchkit-relative.v-touchkit-smallscreen .v-window-contents {
		padding: 0;
		border: none;
		border-radius: 0;
	}
	
	.v-touchkit-popover.v-touchkit-relative.v-touchkit-smallscreen {
		box-shadow: dropShadow;
	}
	
	.v-touchkit-popover .v-window-closebox,
	.v-touchkit-popover .v-window-outerheader,
	.v-touchkit-popover .v-window-footer,
	.v-touchkit-popover .v-window-maximizebox {
		display: none;
	}
	
	.v-touchkit-popover .v-window-contents {
		border: rgb(195, 195, 195);
		border-width: 1px;
		border-style: solid;
	}
	
	.v-button-opens-popover-menu, .v-button-opens-popover-menu.v-button:focus{
		background-image: linear-gradient(-45deg, black 8%, white 9.5%, white 100%);
	}
	
	.v-table-cell-content-tree-cell-disabled {
		opacity: 0.5;
	}
	
	/* webservice call */
	.v-webservice-call.v-customcomponent-v-webservice-call {
	    border: #c2c3c4;
	    border-style: solid;
	    border-width: 1px;
	}
	
	.v-webservice-call .v-verticallayout.v-layout.v-vertical.v-widget.v-has-width.v-has-height.v-margin-top.v-margin-right.v-margin-bottom.v-margin-left {
	    padding-bottom: 18px;
	}

	.v-error-messages-layout {
	    border: #c2c3c4;
	    border-style: solid;
	    border-width: 1px;
	    overflow-y: auto;
	}
	
	.v-table {
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    -webkit-user-select: none;
	}	
	
	
	/* Image status */
	.v-label-status_field {
		font-style: italic;
		opacity: 0.6;
	}
	
	img.v-image.v-widget {
	    opacity: 1.0;
	}
	
	.stepper-updown {
		position: absolute;
		/* position correctly in relation to the textfield padding */
		top: 2px;
		right: 2px;
	}
	
	.stepper-up, .stepper-down {
		display: block;
		outline: none;
		font-size: 12px;
		line-height: 11px;
	}
	
	.stepper.v-widget {
	    position: relative;
	}
}