<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="bpmonitoring-crawler">
	<test name="persistence-manager" enabled="true" preserve-order="true">
		<groups>
			<run>
				<exclude name="sendEmail" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.webforms.logger.SendEmail" />
		</classes>
	</test>
</suite>
